@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  @media not all and (pointer: coarse) {
    ::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-slate-500 rounded-md;
    }

    ::-webkit-scrollbar-track {
      @apply bg-slate-700 bg-opacity-50 rounded-md;
    }
  }
}
