@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  .lucide {
    @apply size-6;
  }

  @media not all and (pointer: coarse) {
    ::-webkit-scrollbar {
      @apply h-2 w-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-md bg-slate-500;
    }

    ::-webkit-scrollbar-track {
      @apply rounded-md bg-slate-700 bg-opacity-50;
    }
  }
}
