@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes: all;
  root: ':root';
  logs: false;
}

@theme {
  --font-sans: var(--font-quicksand), sans-serif;

  --animate-slide-down-and-fade: slide-down-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slide-left-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slide-right-and-fade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-and-fade {
    from: {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@custom-variant pwa {
  @media (display-mode: standalone) {
    @slot;
  }
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  .lucide {
    @apply size-6;
  }

  @media not all and (pointer: coarse) {
    ::-webkit-scrollbar {
      @apply h-2 w-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-md bg-slate-500;
    }

    ::-webkit-scrollbar-track {
      @apply rounded-md bg-slate-700;
    }
  }
}
